///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/4) + s !default;




// Colors
$color-primary: #44CDCD;
$color-secondary: #3ba3e4;
$color-tertiary: #507489;

$color-link: $color-primary;

$color-success: #6cc644;
$color-warning: #c9510c;
$color-danger: #bd2c00;
$color-info: #4078c0;

$color-text: #444;
