///* ========================================================================
//   #COLORS
//   ======================================================================== */
// The variables for project specific colours

$color-primary: #44CDCD;
$color-secondary: #3ba3e4;
$color-tertiary: #507489;

$color-link: $color-primary;

$color-success: #6cc644;
$color-warning: #c9510c;
$color-danger: #bd2c00;
$color-info: #4078c0;

$color-text: #444;
